@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
body {
    background: linear-gradient(#e4801c, #d72262, #8e0782, #6e00a1);
    animation: gradient 1s ease infinite;
    font-family: 'IBM Plex Mono', monospace;
    color: whitesmoke;
    padding: 0;
    margin: 0;
}


body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

#home, #about, #portfolio, #contact, #resume {
    /* centering a div but made easy */
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

/* Style the navigation links */
.navlink {
    width: 100%;
    border: 3px solid transparent;
    margin: 5px;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: whitesmoke;
}

/* underline when hover */
.navlink:hover {
    color: rgb(0, 150, 196);
    border-bottom: 3px solid #6649b8;
}


#portfolioImage {
    max-width: 60%;
}

#starter {
    border: 3px solid;
    
}
#starter2 {
    border: 3px solid;
    
}